In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [2]:
df1 = pd.read_csv("Property_Listings_in_Kuala_Lumpur.csv")
df1.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished

In [3]:
df1.shape

(53883, 8)

In [4]:
df1.isnull().sum()

Location             0
Price              248
Rooms             1706
Bathrooms         2013
Car Parks        17567
Property Type       25
Size              1063
Furnishing        6930
dtype: int64

In [5]:
df1['Car Parks'].unique()

array([ 2., nan,  4.,  3.,  1.,  5.,  6.,  7., 10.,  9.,  8., 13., 12.,
       15., 28., 11., 20., 18., 30., 24., 16., 17.])

In [6]:
df2=df1.copy()
df2['Parking']=df1['Car Parks']
df2['PType']=df1['Property Type']
df2.head()

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished,NaN,Bungalow
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)

In [7]:
df3 = df2.drop(['Car Parks', 'Property Type'], axis = 'columns')
df3.head()

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,Land area : 6900 sq. ft.,Partly Furnished,NaN,Bungalow
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)

In [8]:
df3.groupby('Parking')['Parking'].agg('count')

Parking
1.0     13772
2.0     15314
3.0      3838
4.0      1956
5.0       508
6.0       641
7.0        64
8.0        97
9.0         5
10.0       78
11.0        4
12.0        7
13.0        7
15.0        7
16.0        2
17.0        2
18.0        1
20.0        4
24.0        1
28.0        4
30.0        4
Name: Parking, dtype: int64

In [9]:
df3.shape

(53883, 8)

In [10]:
df3.isnull().sum()

Location          0
Price           248
Rooms          1706
Bathrooms      2013
Size           1063
Furnishing     6930
Parking       17567
PType            25
dtype: int64

In [11]:
df = df3.dropna(thresh = 2)
df = df3.dropna(subset=['Price','Rooms','Bathrooms','Size','Furnishing'])
df.shape

(45207, 8)

In [12]:
df.isnull().sum()

Location          0
Price             0
Rooms             0
Bathrooms         0
Size              0
Furnishing        0
Parking       13308
PType             0
dtype: int64

In [13]:
df['Parking'].unique()

array([ 2., nan,  4.,  3.,  1.,  5.,  6.,  7., 10.,  9.,  8., 15., 28.,
       13., 11., 20., 12., 18., 30., 24., 16., 17.])

In [14]:
df['Parking'] = df['Parking'].fillna(0)
df

D:\Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,Land area : 6900 sq. ft.,Partly Furnished,0.0,Bungalow
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,Land area : 7200 sq. ft.,Partly Furnished,4.0,Bungalow
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,Land area : 7168 sq. ft.,Fully Furnished,0.0,Bungalow (Corner)
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,Land area : 15000 sq. ft.,Unfurnished,0.0,Bungalow (Intermediate)
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,Land area : 7168 sq. ft.,Partly Furnished,0.0,Bungalow (Intermediate)
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,"Built-up : 1,150 sq. ft.",Unfurnished,0.0,Condominium (Intermediate)
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,"Built-up : 1,313 sq. ft.",Partly Furnished,3.0,Condominium (Intermediate)

In [15]:
df4 = df3.dropna()
df4.isnull().sum()

Location      0
Price         0
Rooms         0
Bathrooms     0
Size          0
Furnishing    0
Parking       0
PType         0
dtype: int64

In [16]:
df4.shape

(31899, 8)

In [17]:
df4.head()

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,Land area : 7200 sq. ft.,Partly Furnished,4.0,Bungalow
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,Land area : 3600 sq. ft.,Partly Furnished,4.0,Semi-detached House

In [18]:
df4.head()

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,Land area : 7200 sq. ft.,Partly Furnished,4.0,Bungalow
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,Land area : 3600 sq. ft.,Partly Furnished,4.0,Semi-detached House

In [19]:
df4['Size'].value_counts()

Built-up : 1,100 sq. ft.     394
Built-up : 950 sq. ft.       380
Land area : 22x75 sq. ft.    279
Built-up : 850 sq. ft.       257
Built-up : 1,200 sq. ft.     256
                            ...
Land area : 7739 sq. ft.       1
Land area : 698 sq. ft.        1
Land area : 4806 sq. ft.       1
Built-up : 3,644 sq. ft.       1
Built-up : 2,505 sq. ft.       1
Name: Size, Length: 4267, dtype: int64

In [20]:
t = df4['Size'].str.split(":", n = 1, expand = True)
df4['SizeType'] = t[0]
df4['SizeValue'] = t[1]
df4.head()

D:\Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Softwares\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence,Built-up,"1,335 sq. ft."
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner),Built-up,"1,875 sq. ft."
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner),Built-up,"1,513 sq. ft."
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,Land area : 7200 sq. ft.,Partly Furnished,4.0,Bungalow,Land area,7200 sq. ft.
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,Land area : 3600 sq. ft.,Partly Furnished,4.0,Semi-detached House,Land area,3600 sq. ft.

In [21]:
df5 = df4.drop(['Size','PType'], axis = 'columns')
df5.head(10)

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,Partly Furnished,2.0,Built-up,"1,875 sq. ft."
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,Partly Furnished,2.0,Built-up,"1,513 sq. ft."
5,"Taman Tun Dr Ismail, Kuala Lumpur","RM 5,350,000",4+2,5.0,Partly Furnished,4.0,Land area,7200 sq. ft.
7,"Taman Tun Dr Ismail, Kuala Lumpur","RM 2,600,000",5,4.0,Partly Furnished,4.0,Land area,3600 sq. ft.
8,"Taman Tun Dr Ismail, Kuala Lumpur","RM 1,950,000",4+1,4.0,Partly Furnished,3.0,Land area,25x75 sq. ft.
9,"Sri Petaling, Kuala Lumpur","RM 385,000",3,2.0,Partly Furnished,1.0,Built-up,904 sq. ft.
13,"Taman Tun Dr Ismail, Kuala Lumpur","RM 4,580,000",6+1,5.0,Partly Furnished,5.0,Land area,6000 sq. ft.
16,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",6+1,7.0,Partly Furnished,4.0,Land area,8500 sq. ft.
18,"Mont Kiara, Kuala Lumpur","RM 1,780,000",4+1,4.0,Partly Furnished,2.0,Built-up,"1,830 sq. ft."

In [22]:
df5.shape

(31899, 8)

In [23]:
df5 = df5.sort_values(by = 'SizeType')
df5

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33828,"Cheras, Kuala Lumpur","RM 330,000",3,2.0,Partly Furnished,1.0,Built-up,950 sq. ft.
33821,"Dutamas, Kuala Lumpur","RM 1,280,000",2,2.0,Fully Furnished,2.0,Built-up,"1,250 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",3+1,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",3+1,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
...,...,...,...,...,...,...,...,...
45307,"Setapak, Kuala Lumpur","RM 265,000",3,2.0,Unfurnished,1.0,Land area,815 sq. ft.
45306,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",6+1,6.0,Partly Furnished,5.0,Land area,9000 sq. ft.
45305,"Bukit Jalil, Kuala Lumpur","RM 3,900,000",4+2,5.0,Partly Furnished,2.0,Land area,4230 sq. ft.
45346,"KLCC, Kuala Lumpur","RM 7,900",4+1,4.0,Partly Furnished,2.0,Land area,2400 sq. ft.
26691,"Setapak, Kuala Lumpur","RM 620,000",4,2.0,Partly Furnished,2.0,Land area,1550 sq. ft.

In [24]:
Adf1 = df5[df5['SizeType'].str.contains("Built-up")] 
Bdf1 = df5[df5['SizeType'].str.contains("Land area")]

In [25]:
df5['Rooms'].unique()

array(['2+1', '3', '2', '3+1', '1', '4+1', '1+1', '6', '3+2', '4', '5+1',
       '5+2', '4+2', '5', 'Studio', '6+1', '8', '7', '2+2', '7+1', '1+2',
       '10', '7+', '10+', '6+', '12+', '8+1', '9+1', '8+', '11',
       '20 Above', '9', '16', '12', '14', '13+', '13', '10+1', '15+',
       '13+1'], dtype=object)

In [26]:
def is_float(x):
        try:
            float(x)
        except:
            return False
        return True

In [27]:
df5[~df5['Rooms'].apply(is_float)].head(100)

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",3+1,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",3+1,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
33817,"Segambut, Kuala Lumpur","RM 1,140,000",3+1,4.0,Partly Furnished,2.0,Built-up,"1,788 sq. ft."
33810,"Mont Kiara, Kuala Lumpur","RM 1,980,000",4+1,4.0,Partly Furnished,2.0,Built-up,"1,830 sq. ft."
...,...,...,...,...,...,...,...,...
33951,"Setapak, Kuala Lumpur","RM 800,000",3+1,4.0,Unfurnished,2.0,Built-up,"1,368 sq. ft."
33945,"Desa ParkCity, Kuala Lumpur","RM 1,160,000",3+1,3.0,Fully Furnished,2.0,Built-up,"1,432 sq. ft."
33974,"Bukit Bintang, Kuala Lumpur","RM 1,950,000",3+1,2.0,Partly Furnished,2.0,Built-up,"1,822 sq. ft."
33336,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 1,280,000",3+1,3.0,Partly Furnished,2.0,Built-up,"2,088 sq. ft."
33332,"City Centre, Kuala Lumpur","RM 3,500,000",4+2,4.0,Partly Furnished,2.0,Built-up,"3,685 sq. ft."

In [28]:
def convert_rooms_to_bhk(x):
    tokens = x.split('+')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))
    try:
        return float(x)
    except:
        return None

In [29]:
def convert_rooms_to_bhk2(x):
    tokens = x.split('+')
    if len(tokens)==2:
        return (float(tokens[0])+ 2 )
    try:
        return float(x)
    except:
        return None

In [30]:
convert_rooms_to_bhk('3')

3.0

In [31]:
convert_rooms_to_bhk2 ('3+')

5.0

In [32]:
op=['7+', '10+', '6+', '12+', '8+', '13+', '15+','Studio','20 Above']
df6 = df5.copy()
df6 = df6[~df6['Rooms'].isin(op)] 
df6

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33828,"Cheras, Kuala Lumpur","RM 330,000",3,2.0,Partly Furnished,1.0,Built-up,950 sq. ft.
33821,"Dutamas, Kuala Lumpur","RM 1,280,000",2,2.0,Fully Furnished,2.0,Built-up,"1,250 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",3+1,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",3+1,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
...,...,...,...,...,...,...,...,...
45307,"Setapak, Kuala Lumpur","RM 265,000",3,2.0,Unfurnished,1.0,Land area,815 sq. ft.
45306,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",6+1,6.0,Partly Furnished,5.0,Land area,9000 sq. ft.
45305,"Bukit Jalil, Kuala Lumpur","RM 3,900,000",4+2,5.0,Partly Furnished,2.0,Land area,4230 sq. ft.
45346,"KLCC, Kuala Lumpur","RM 7,900",4+1,4.0,Partly Furnished,2.0,Land area,2400 sq. ft.
26691,"Setapak, Kuala Lumpur","RM 620,000",4,2.0,Partly Furnished,2.0,Land area,1550 sq. ft.

In [33]:
df6.dtypes

Location       object
Price          object
Rooms          object
Bathrooms     float64
Furnishing     object
Parking       float64
SizeType       object
SizeValue      object
dtype: object

In [34]:
df7 = df6.copy()
df7['Rooms']= df7['Rooms'].apply(convert_rooms_to_bhk)
df7

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",3.0,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33828,"Cheras, Kuala Lumpur","RM 330,000",3.0,2.0,Partly Furnished,1.0,Built-up,950 sq. ft.
33821,"Dutamas, Kuala Lumpur","RM 1,280,000",2.0,2.0,Fully Furnished,2.0,Built-up,"1,250 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",4.0,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",4.0,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
...,...,...,...,...,...,...,...,...
45307,"Setapak, Kuala Lumpur","RM 265,000",3.0,2.0,Unfurnished,1.0,Land area,815 sq. ft.
45306,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",7.0,6.0,Partly Furnished,5.0,Land area,9000 sq. ft.
45305,"Bukit Jalil, Kuala Lumpur","RM 3,900,000",6.0,5.0,Partly Furnished,2.0,Land area,4230 sq. ft.
45346,"KLCC, Kuala Lumpur","RM 7,900",5.0,4.0,Partly Furnished,2.0,Land area,2400 sq. ft.
26691,"Setapak, Kuala Lumpur","RM 620,000",4.0,2.0,Partly Furnished,2.0,Land area,1550 sq. ft.

In [35]:
Adf1 = df7[df7['SizeType'].str.contains("Built-up")]
Adf1

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",3.0,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33828,"Cheras, Kuala Lumpur","RM 330,000",3.0,2.0,Partly Furnished,1.0,Built-up,950 sq. ft.
33821,"Dutamas, Kuala Lumpur","RM 1,280,000",2.0,2.0,Fully Furnished,2.0,Built-up,"1,250 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",4.0,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",4.0,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
...,...,...,...,...,...,...,...,...
14818,"Cheras, Kuala Lumpur","RM 280,000",2.0,2.0,Fully Furnished,1.0,Built-up,958 sq. ft.
14847,"Kepong, Kuala Lumpur","RM 530,000",3.0,2.0,Partly Furnished,1.0,Built-up,"1,074 sq. ft."
15742,"Salak Selatan, Kuala Lumpur","RM 420,000",2.0,2.0,Fully Furnished,2.0,Built-up,731 sq. ft.
15747,"Mont Kiara, Kuala Lumpur","RM 2,400,000",5.0,7.0,Fully Furnished,3.0,Built-up,"2,906 sq. ft."
14808,"Setapak, Kuala Lumpur","RM 308,000",3.0,2.0,Unfurnished,1.0,Built-up,"1,056 sq. ft."

In [36]:
Bdf1 = df7[df7['SizeType'].str.contains("Land area")]
Bdf1

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
37495,"Kepong, Kuala Lumpur","RM 680,000",4.0,3.0,Partly Furnished,2.0,Land area,20x75 sq. ft.
48654,"Cheras, Kuala Lumpur","RM 560,000",4.0,3.0,Partly Furnished,2.0,Land area,20x65 sq. ft.
15481,"Jalan Ipoh, Kuala Lumpur","RM 850,000",4.0,3.0,Partly Furnished,2.0,Land area,22x75 sq. ft.
48653,"Jalan Klang Lama (Old Klang Road), Kuala Lumpur","RM 1,300,000",4.0,3.0,Partly Furnished,2.0,Land area,22x70 sq. ft.
49806,"Mont Kiara, Kuala Lumpur","RM 4,500,000",5.0,5.0,Partly Furnished,3.0,Land area,4000 sq. ft.
...,...,...,...,...,...,...,...,...
45307,"Setapak, Kuala Lumpur","RM 265,000",3.0,2.0,Unfurnished,1.0,Land area,815 sq. ft.
45306,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",7.0,6.0,Partly Furnished,5.0,Land area,9000 sq. ft.
45305,"Bukit Jalil, Kuala Lumpur","RM 3,900,000",6.0,5.0,Partly Furnished,2.0,Land area,4230 sq. ft.
45346,"KLCC, Kuala Lumpur","RM 7,900",5.0,4.0,Partly Furnished,2.0,Land area,2400 sq. ft.
26691,"Setapak, Kuala Lumpur","RM 620,000",4.0,2.0,Partly Furnished,2.0,Land area,1550 sq. ft.

In [37]:
df7

,Location,Price,Rooms,Bathrooms,Furnishing,Parking,SizeType,SizeValue
0,"KLCC, Kuala Lumpur","RM 1,250,000",3.0,3.0,Fully Furnished,2.0,Built-up,"1,335 sq. ft."
33828,"Cheras, Kuala Lumpur","RM 330,000",3.0,2.0,Partly Furnished,1.0,Built-up,950 sq. ft.
33821,"Dutamas, Kuala Lumpur","RM 1,280,000",2.0,2.0,Fully Furnished,2.0,Built-up,"1,250 sq. ft."
33820,"Sri Petaling, Kuala Lumpur","RM 820,000",4.0,4.0,Partly Furnished,2.0,Built-up,"1,690 sq. ft."
33819,"Jalan Kuching, Kuala Lumpur","RM 590,000",4.0,2.0,Fully Furnished,1.0,Built-up,"1,400 sq. ft."
...,...,...,...,...,...,...,...,...
45307,"Setapak, Kuala Lumpur","RM 265,000",3.0,2.0,Unfurnished,1.0,Land area,815 sq. ft.
45306,"Bukit Tunku (Kenny Hills), Kuala Lumpur","RM 9,000,000",7.0,6.0,Partly Furnished,5.0,Land area,9000 sq. ft.
45305,"Bukit Jalil, Kuala Lumpur","RM 3,900,000",6.0,5.0,Partly Furnished,2.0,Land area,4230 sq. ft.
45346,"KLCC, Kuala Lumpur","RM 7,900",5.0,4.0,Partly Furnished,2.0,Land area,2400 sq. ft.
26691,"Setapak, Kuala Lumpur","RM 620,000",4.0,2.0,Partly Furnished,2.0,Land area,1550 sq. ft.

In [38]:
df1

,Location,Price,Rooms,Bathrooms,Car Parks,Property Type,Size,Furnishing
0,"KLCC, Kuala Lumpur","RM 1,250,000",2+1,3.0,2.0,Serviced Residence,"Built-up : 1,335 sq. ft.",Fully Furnished
1,"Damansara Heights, Kuala Lumpur","RM 6,800,000",6,7.0,NaN,Bungalow,Land area : 6900 sq. ft.,Partly Furnished
2,"Dutamas, Kuala Lumpur","RM 1,030,000",3,4.0,2.0,Condominium (Corner),"Built-up : 1,875 sq. ft.",Partly Furnished
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","RM 900,000",4+1,3.0,2.0,Condominium (Corner),"Built-up : 1,513 sq. ft.",Partly Furnished
...,...,...,...,...,...,...,...,...
53878,"Bangsar, Kuala Lumpur","RM 5,100,000",5+1,4.0,NaN,Bungalow (Corner),Land area : 7168 sq. ft.,Fully Furnished
53879,"Bangsar, Kuala Lumpur","RM 5,000,000",5,4.0,NaN,Bungalow (Intermediate),Land area : 15000 sq. ft.,Unfurnished
53880,"Bangsar, Kuala Lumpur","RM 5,500,000",5+1,4.0,NaN,Bungalow (Intermediate),Land area : 7168 sq. ft.,Partly Furnished
53881,"Wangsa Maju, Kuala Lumpur","RM 480,000",3,2.0,NaN,Condominium (Intermediate),"Built-up : 1,150 sq. ft.",Unfurnished
53882,"Setapak, Kuala Lumpur","RM 540,000",4,2.0,3.0,Condominium (Intermediate),"Built-up : 1,313 sq. ft.",Partly Furnished

In [39]:
df8 = df3.copy()
t = df8['Price'].str.split(" ", n = 1, expand = True)
df8['Price'] = t[1]
df8.head()

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur","1,250,000",2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
1,"Damansara Heights, Kuala Lumpur","6,800,000",6,7.0,Land area : 6900 sq. ft.,Partly Furnished,NaN,Bungalow
2,"Dutamas, Kuala Lumpur","1,030,000",3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur","900,000",4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)

In [40]:
df8['Price'] = df['Price'].str.replace(",", "")
df8.head()

,Location,Price,Rooms,Bathrooms,Size,Furnishing,Parking,PType
0,"KLCC, Kuala Lumpur",RM 1250000,2+1,3.0,"Built-up : 1,335 sq. ft.",Fully Furnished,2.0,Serviced Residence
1,"Damansara Heights, Kuala Lumpur",RM 6800000,6,7.0,Land area : 6900 sq. ft.,Partly Furnished,NaN,Bungalow
2,"Dutamas, Kuala Lumpur",RM 1030000,3,4.0,"Built-up : 1,875 sq. ft.",Partly Furnished,2.0,Condominium (Corner)
3,"Cheras, Kuala Lumpur",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Bukit Jalil, Kuala Lumpur",RM 900000,4+1,3.0,"Built-up : 1,513 sq. ft.",Partly Furnished,2.0,Condominium (Corner)

In [41]:
df9 = df3[df3['Furnishing'] != 'Unknown']
df9['Furnishing'].unique()

array(['Fully Furnished', 'Partly Furnished', nan, 'Unfurnished'],
      dtype=object)